.project {
	display: inline-block;
	width: 380px;
	padding: 10px;
	margin: 5px;
	overflow: hidden;
	min-height: 200px;
	border: 0px none;
	border-radius: 5px;
	vertical-align: top;
}

.ts-light .project {
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) ,
				0px 0px 2px 1px rgba(0,0,0,0.2);
}

.ts-dark .project {
	background-color: #222;
	box-shadow: 0px 0px 5px 0px #fff ,
				0px 0px 2px 1px #666;
}

.project img {
	width: 100%;
	border: 1px solid #000;
}

.project p {
	display: inline-block;
	padding: 2px;
	margin: 4px 0;
	border-radius: 5px;
}

.project li a{
	border-radius: 5px;
}

.ts-light .project h2 {
	text-shadow: 0px 0px 2px #fff, 2px 2px 2px #000;
}

ul.tags {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}


ul.tags li {
	padding: 0 6px;
	border-radius: 4px;
	float: left;
	overflow: hidden;
	font-size: 70%;
	font-weight: bold;
	margin: 1px;
}
	
.ts-light ul.tags li {
		background-color: #aaa;
		color: #fff;
		text-shadow: 0px 0px 1px #000, 0px 0px 1px #000;
		box-shadow:
			0px 0px 1px 0px #000,
			0px 0px 1px 0px #000;
}

.ts-dark ul.tags li {
		background-color: #666;
		color: #000;
		text-shadow: 0px 0px 1px #fff, 0px 0px 1px #fff;
		box-shadow:
			0px 0px 1px 0px #aaa,
			0px 0px 1px 0px #aaa;
}
